In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv("https://raw.githubusercontent.com/jorgegranadossobrino/Ficheros/main/test.csv", sep=",")
datos

     id  total_bill     sex smoker   day    time  size
0    21       20.29  Female     No   Sat  Dinner     2
1   132       11.17  Female     No  Thur   Lunch     2
2   170       50.81    Male    Yes   Sat  Dinner     3
3   131       20.27  Female     No  Thur   Lunch     2
4    99       12.46    Male     No   Fri  Dinner     2
5   174       16.82    Male    Yes   Sun  Dinner     2
6     6        8.77    Male     No   Sun  Dinner     2
7   149        7.51    Male     No  Thur   Lunch     2
8   227       20.45    Male     No   Sat  Dinner     4
9   228       13.28    Male     No   Sat  Dinner     2
10  194       16.58    Male    Yes  Thur   Lunch     2
11   90       28.97    Male    Yes   Fri  Dinner     2
12   42       13.94    Male     No   Sun  Dinner     2
13  128       11.38  Female     No  Thur   Lunch     2
14   84       15.98    Male     No  Thur   Lunch     2
15  144       16.43  Female     No  Thur   Lunch     2
16  173       31.85    Male    Yes   Sun  Dinner     2
17   87       18.28    Male     No  Thur   Lunch     2
18  240       27.18  Female    Yes   Sat  Dinner     2
19   60       20.29    Male    Yes   Sat  Dinner     2
20  114       25.71  Female     No   Sun  Dinner     3
21  102       44.30  Female    Yes   Sat  Dinner     3
22   68       20.23    Male     No   Sat  Dinner     2
23  197       43.11  Female    Yes  Thur   Lunch     4
24  148        9.78    Male     No  Thur   Lunch     2
25   22       15.77  Female     No   Sat  Dinner     2
26  206       26.59    Male    Yes   Sat  Dinner     3
27   54       25.56    Male     No   Sun  Dinner     4
28    1       10.34    Male     No   Sun  Dinner     3
29  162       16.21  Female     No   Sun  Dinner     3
30  198       13.00  Female    Yes  Thur   Lunch     2
31  107       25.21    Male    Yes   Sat  Dinner     2
32  225       16.27  Female    Yes   Fri   Lunch     2
33  154       19.77    Male     No   Sun  Dinner     4
34   72       26.86  Female    Yes   Sat  Dinner     2
35  136       10.33  Female     No  Thur   Lunch     2
36  145        8.35  Female     No  Thur   Lunch     2
37  232       11.61    Male     No   Sat  Dinner     2
38   26       13.37    Male     No   Sat  Dinner     2
39   69       15.01    Male    Yes   Sat  Dinner     2
40  203       16.40  Female    Yes  Thur   Lunch     2
41   92        5.75  Female    Yes   Fri  Dinner     2
42  113       23.95    Male     No   Sun  Dinner     2
43   19       20.65    Male     No   Sat  Dinner     3
44   35       24.06    Male     No   Sat  Dinner     3
45  234       15.53    Male    Yes   Sat  Dinner     2
46   34       17.78    Male     No   Sat  Dinner     2
47   46       22.23    Male     No   Sun  Dinner     2
48  126        8.52    Male     No  Thur   Lunch     2

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
OneHotEncoder().fit_transform(datos).toarray()

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [ ]:
import numpy as np
train = np.array(pd.read_csv("https://raw.githubusercontent.com/jorgegranadossobrino/Ficheros/main/train.csv", sep=","))
train

array([[11.35, 2.5, 'Female', ..., 'Fri', 'Dinner', 2],
       [12.6, 1.0, 'Male', ..., 'Sat', 'Dinner', 2],
       [29.85, 5.14, 'Female', ..., 'Sun', 'Dinner', 5],
       ...,
       [16.32, 4.3, 'Female', ..., 'Fri', 'Dinner', 2],
       [15.98, 3.0, 'Female', ..., 'Fri', 'Lunch', 3],
       [17.92, 3.08, 'Male', ..., 'Sat', 'Dinner', 2]], dtype=object)

In [ ]:
import sklearn.compose

column_transformer = sklearn.compose.ColumnTransformer(transformers=[
    ("passthroughOne", "passthrough", [0]),
    ("passthroughTwo", "passthrough", [1]),
    ("one-hotA", sklearn.preprocessing.OneHotEncoder(), [2]),
    ("one-hotB", sklearn.preprocessing.OneHotEncoder(), [3]),
    ("one-hotC", sklearn.preprocessing.OneHotEncoder(), [4]),
    ("one-hotD", sklearn.preprocessing.OneHotEncoder(), [5]),
    ("passthroughE", "passthrough", [6])
]);

In [ ]:
X_transform = column_transformer.fit_transform(train)
print(X_transform)

[[11.35 2.5 1.0 ... 1.0 0.0 2]
 [12.6 1.0 0.0 ... 1.0 0.0 2]
 [29.85 5.14 1.0 ... 1.0 0.0 5]
 ...
 [16.32 4.3 1.0 ... 1.0 0.0 2]
 [15.98 3.0 1.0 ... 0.0 1.0 3]
 [17.92 3.08 0.0 ... 1.0 0.0 2]]